 /* /* Large screen */
/* @media screen and (992-1400){
    
}  */
/* Tablet screen */
/* @media screen and (768-991) {
    
} */
/* Mobile screen */
@media screen and (max-width: 767px) {
nav{
    background: red;
    padding: 0rem 0rem;
}
.menu-menu{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: pink;
    z-index: 100;
    position: absolute;
    top: 0;

}
/* .menu-box{
    display: flex;
} */
.booking-form{
    height: auto;
    margin: 0rem 3rem;
}
.switchbuttons button{
    width: 14vw;
    height: 7vh;
}
.searchform{
    display: grid;
    grid-template-columns: 200px 20px 200px;
    grid-template-rows: 40px 40px 40px;
}
.searchform input{
    width: 20vw;
    height: 8vh;
}
.searchform select{
width: 16vw;
height: -8vh;
}
.searchform button{
    width: 12vw;
    height: 8vh;
    border-radius: 0%;
}
.searchform2{
    flex-direction: column;
}

.Fun{
    width: 100%;
    height: auto;
    padding: 1rem 0rem;
}
.Fun h1{
    font-size: 2rem;
}
.fun-boxs{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.fun-boxs div{
    width: 40vw;
    height: 40vh;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #35383fbb;

}

.newslatter{
    height: auto;
    padding: 2rem 1rem;
}
.newslatter h1{
    margin: 0.5rem 0rem;
}
.newslatter p{
    margin: 0.5rem 0rem;
}
.newslatter div{
    width: 100%;
    height: 6vh;
}
.newslatter div input{
    width: 65%;
    height: 6vh;
}
.newslatter div button{
    width: 30%;
    height: 6vh;
    border-radius: 8px;
}

.destination{
    padding: 1rem 0rem;
}
.des-boxs{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.des-boxs div{
width: 90%;
height: auto;
margin: 0rem auto;
padding: 0.5rem 0.5rem;
}
.des-boxs div img{
    height: 30vh;
}
.des-boxs div img h4{
    margin: 0.5rem 0rem;
}

.estimate{
    width: 90%;
    height: auto;
    margin: 0rem auto;
    padding: 1rem 0rem;
    text-align: center;
}
.estimate-form{
    margin-top: 1rem;
}


.Blog{
    height: auto;
    padding: 1rem 0rem;
}
.latest-blog{
    flex-direction: column;
}
.blog{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    height: auto;
    grid-template-columns: 200px;
}

}
/* Small Mobile screen */
/* @media screen and (575-0) {
    
} */ 
