*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 14vh;
    color: #fff;
    background: #131E3A;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 7.183rem;
}
.logo-menu{
    height: 10.221vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.logo-menu ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.menu-box{
    display: flex;
    gap: 14rem;
}
.lang-longin{
    display: flex;
}
nav ul li{
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.125rem;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.active{
    color: #ff4f7b;
}
/* Banner section style */
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/banner.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.banner-title{
position: absolute;
top: 5rem;
left: 8rem;
}
.banner-title h1{
    font-size: 50px;
    font-weight: 500;
}
.banner-title h3{
    font-size: 30px;
    font-weight: 600;
}
.booking-form{
    width: 80%;
    height: 22vh;
    margin: 0rem 7.183rem;
    padding: 0.3rem;
    position:absolute;
    bottom: 2rem;
    background: rgba(158, 3, 158, 0.751);
}
.switchbuttons button{
    width: 6vw;
    height: 5vh;
    color: #fff;
    background: #53076b;
    font-weight: 600;
    border: none;
}
.active-b{
    background: #ff4f7b;
}
.searchform input{
width: 12vw;
height: 6vh;
border-radius: 3px;
outline: none;
border: none;
}
.searchform select{
    width: 12vw;
    height: 6vh;
    border-radius: 3px;
}
.searchform button{
width: 4vw;
height: 8vh;
background: #ff4f7b;
color: #fff;
font-weight: 600;
border-radius: 100%;
margin-left: 2rem;
border: none;
}
.searchform2{
    display: flex;
    gap: 1rem;
}
.searchform2 span {
    color: #fff;
}
.searchform2 span select{
    font-weight: 600;
    border: none;
    background: transparent;
    color: #fff;
}
.searchform2 span select option{
    background: #35383f;
}
/* .searchform2 span #Direct-Flights{
    background: yellow;
    border: 2px solid red;
}
#Nearby-Airports{
    background: transparent;
} */
/* Fun section style */
.Fun{
    width: 100%;
    height: 50vh;
    padding: 2rem 7.183rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.525),rgba(0,0,0,0.525)), url(../images/fun2.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.Fun h1{
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
}
.fun-boxs{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.fun-boxs div{
    width: 10vw;
    height: 20vh;
    padding: 0.6rem 0rem;
    background: #35383f;
    color: #fff;
    text-align: center;
}
.fun-boxs div h3{
    margin-top:0.5rem;
}
.fun-boxs div p{
    font-size: 0.8rem;
    margin: 0.5rem 0rem;
}
/* Newslatter section style */
.newslatter{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.525),rgba(0,0,0,0.525)),url(../images/news3.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 7.183rem;
}
.newslatter h1{
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
}
.newslatter p{
    color: #fff;
    font-size: 1.12rem;
}
/* destination section style */
.destination{
    width: 100%;
    height: auto;
    padding: 2rem 7.183rem;
    text-align: center;
    background: #131E3A;
}
.destination h1{
    color: #fff;
    font-weight: 600;
}
.des-boxs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    margin-top: 1rem;
}
.des-boxs div{
    width: 18vw;
    height: 50vh;
    background: #fff;
}
.des-boxs div img{
    width: 100%;
    height: 25vh;
}
.des-boxs div h4 span{
    color: hsl(42, 100%, 50%);
}
/* estimate section style */
.estimate{
    width: 100%;
    height: 40vh;
    padding: 1rem 7.183rem;
}
.estimate h1{
    margin-top: 0.8rem;
}
.estimate h3{
    margin-top: 0.9rem;
}
.estimate-form{
    margin-top: 3rem;
}
/* Blog section style */
.Blog{
    width: 100%;
    height: 50vh;
    padding: 1rem 7.183rem;
    text-align: center;
}
.Blog p{
    padding: 0rem 7.183rem;
}
.latest-blog{
    display: flex;
    margin-top: 1rem;
}
.blog{
    display: flex;
}
.blog p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0rem 1rem;
}
/* footer section style */
.footer{
    width: 100%;
    height: 40vh;
    background: #35383f;
    color: #fff;
    display:grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
    align-items: center;
}